<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>AGENTMEMORY_DATA_DIR</key>
		<string>{{AGENTMEMORY_DATA_DIR}}</string>
		<key>HOME</key>
		<string>{{HOME}}</string>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>dev.agentmemory</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{AGENTMEMORY_BIN}}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/agentmemory.stderr.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/agentmemory.stdout.log</string>
	<key>ThrottleInterval</key>
	<integer>30</integer>
</dict>
</plist>
